span {
    color: bisque;
    font-weight: bold;
}
.info {
    background-color: rgb(89, 41, 133);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    
}
h2 {
    font-weight: normal;
}
button {
    background-color: rgba(200, 132, 23, 0.219);
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-left: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}
